@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: light --default, dark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


:root {
  --background: var(--color-gray-200);
  --foreground: var(--color-black);
}

html[data-theme=dark] {
  background-color: var(--color-gray-800);
  color: var(--color-gray-100);

}

html {
  background-color: var(--background);
  color: var(--foreground);
}